<div class="twitter-menu navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
		<!-- options grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle custom-left" data-toggle="collapse" data-target="#nav-menu-options" aria-expanded="false">
				<span class="fa fa-bars"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="nav-menu-options">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="/timeline" class="active">
						<span class="item-icon fa fa-home"></span>
						<span>Home</span>
					</a>
				</li>
				<li>
					<a href="/blocked">
						<span class="item-icon fa fa-cog"></span>
						<span>Blocked</span>
					</a>
				</li>
				<li>
					<a href="/trends">
						<span class="item-icon fa fa-hashtag"></span>
						<span>Trends</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>